{
  "plugins": [
    "transform-runtime",
    "syntax-object-rest-spread",
    "typecheck",
    "syntax-flow",
    "transform-flow-strip-types",
    "babel-plugin-add-module-exports"
  ],
  "presets": [
    "stage-0",
    "es2015"
  ]
}
